CLOUDINARY_API_KEY=615162111519429
CLOUDINARY_API_SECRET=oUvs4FoXS1OtCIdPlNObRVowWzs
CLOUDINARY_CLOUD_NAME=dicgqhkwr
JWT_SECRET=sasdfghjkl
MONGODB_URI=mongodb+srv://Next:Next@doctor-appointement-sys.kjg2g.mongodb.net/chat_app
NODE_ENV=development
PORT=5001

# Admin Default Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

